:root {
  --white: #FFFFFF;
  --black: #000000;
  --green1: #8eaf44;
  --green2:#a4bb69;
  --gray1:#796f6e;
  --gray2:#918788;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --vlg: 30px
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

h1{
  font-size: var(--vlg);
}
h2{
  font-size: var(--vlg);
}
.container{
  width: 100%;
  position: relative;
  margin: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px; 
 
}
.BackgroundImage{
  
  width: 100%;
  height: 790px;
  object-fit: cover;
}

.logo{
  width: 15%;
  position: absolute;
  top: 4%;
  left: 3%;
  padding: 0px;
  margin-top: 10px;
}


.navbar-left{
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  position:absolute;
  top: 0px;
  left: 17%;
  width: 60%;
  /* display: block; */
  margin-right: 0px;
  padding-left: 0px;
}
.navbar-left a{
  text-decoration: none;
  
}
.navbar-left ul{
  width: 100%;
  padding-left: 10px;
  list-style: none;
}

.navbar-left ul li:nth-child(2){
  font-size: 60px;
}

.menu{
  display: none;
}
.navbar-right{
  font-size: 20px;
  color: var(--green2);
  position: absolute;
  top: 25px;
  left: 65%;
  display: flex;
  text-decoration: none;
  list-style: none;

}
.navbar-right ul{
  display: flex;
  margin-top: 40px;
  padding-left: 0px;
}
.navbar-right ul li{
  margin-left: 10px;
  list-style: none;
  display: flex;
}

.title{
  text-decoration: none;
  color: var(--white);
  padding-right: 5px;
  text-shadow: 1px 1px 2px black;
  
}
.title-black{
  color: var(--black);
  text-shadow: none;
  font-weight: bold;
}

.title-gray{
  color: var(--gray1);
  text-shadow: none;
  font-weight: bold;
}

.title2{
  background-color: var(--green1);
  font-size: 30px;
  color: var(--white);
  /* font-weight: bold; */
}

.bold{
  font-weight: bold;
}

.navbar-right-mobile{
  font-size: 25px;
  color: var(--green2);
  position: absolute;
  top: 11%;
  right: 1%;
  text-decoration: none;
  list-style: none;
  text-align: right;
  margin-right:10px ;
  padding-left: 0px;
  /* text-shadow: 1px 1px 2px black; */
  /* border: 1px solid black; */
  /* margin-top: 15px; */
}

.navbar-right-mobile ul{
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-right-mobile li{
  margin-right: 10px;
  font-weight: bold;
  margin-left: 0px;
  border-bottom: 1px dotted black;
}

.list{
  color: black;
  text-decoration: none;
}

.navbar-right-mobile ul li{
  margin-left: 10px;
  list-style: none;
}

.inactive{
  display: none;
}

.menuIcon{
  position: absolute;
  top: 57px;
  left: 90%;
  display: flex;
  text-decoration: none;
  list-style: none;
  /* background-color: white; */
}

.footer{
  display: flex;
  background-color: white;
  justify-content: center;
  color: var(--green1);
  font-size: 20px;
  font-weight: normal;
}

.logo-footer{
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 15%;
  position: relative;
  top: 4%;
  left: 3%;
  padding: 10px;
  /* background-color: white; */
}

.paragraph-footer{
  margin-top: 5px;
  margin-left: 3%;
}

/* ABOUT */

.container2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 200px;
}

.container2 h2{
  text-align: center;
  font-size: 30px;
}
.center-information{
  text-align: center;
}

.center-information h1{
  margin-top: 90px;
}

.profile-container{
  display: flex;
}
.Profile{
  padding: 0 25px;
  width: 50%;
}

.paragraph{
  text-align: justify;
}
.paragraph2{
  text-align: justify;
  /* margin: 0px 50px 0px 50px; */
}

#See-More-Architect{
  color: var(--green1);
  cursor: pointer;
  font-weight: bold;
}
#See-Less-Architect{
  color: var(--green1);
  cursor: pointer;
  font-weight: bold;
}
#See-More-Engineer{
  color: var(--green1);
  cursor: pointer;
  font-weight: bold;
}
#See-Less-Engineer{
  color: var(--green1);
  cursor: pointer;
  font-weight: bold;
}




.profile-image{
  background-color: #e9e4e8;
  width: 350px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 50%;
}

.WhyUs{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
  margin-bottom: 50px;
}
.box{
  text-align: center;
  color: var(--yellow2);
  /* font-weight: bold; */
}
.box p{
  text-align: justify;
  margin: 0 10px 0 10px;
}

/* SERVICES */

.card-container-services{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
}

.card-service{
  padding: 10px 20px 10px 0;
  text-align: justify;
  /* border: 3px solid var(--gray2); */
  border-radius: 10px;
  cursor: pointer;
}

.card-service img{
  width: 100px;
  /* height: 50px; */
  display:  block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  
}

.card-service p{
  background-color: var(--white);
}

.card-service p:nth-child(3){
  /* background-color: green; */
}



/* PROJECTS  */

.header{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 200px;
}

.container-Design{
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 200px; */
  display: grid;
  grid-template-columns: repeat(auto-fill,280px);
  gap: 50px;
  place-content: center;
  margin-bottom: 50px;
}

.container-Design .bold{
  margin-top: 0px;
  margin-bottom: 0px;
}

.Container-Design-Architecture img{
  width: 300px;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}
.Container-Design-Architecture .POver{
  position: relative;
  margin-bottom: 0px;
  top: -20%;
  left: 0%;
  background-color: var(--green1);
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.Container-Design-CivilEng .POver{
  position: relative;
  margin-bottom: 0px;
  top: -20%;
  left: 0%;
  background-color: var(--green1);
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.Container-Design-CivilEng img{
  width: 300px;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

.Container-Design-Construction img{
  width: 300px;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}
.Container-Design-Construction .POver{
  position: relative;
  margin-bottom: 0px;
  top: -20%;
  left: 0%;
  background-color: var(--green1);
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.container-Architecture{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
}

.container-Arqchitecture h2{
  text-align: center;
  font-size: 30px;
}

.container-CivilEng{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
}

.container-CivilEng h2{
  text-align: center;
  font-size: 30px;
}

.container-Construction{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
}


.card-container-projects{
  margin-left: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill,280px);
  gap: 50px;
  place-content: center;
}
.card-project{
  background-color: white;
}

.card-project img{
  width: 300px;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

.card-project img:hover{
  transform: scale(1.2);
}
.justified{
  text-align: justify;
}
.ImgRoll{
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top:0;
  left:0;
  width: 100%;
  height: auto;
  /* display: grid; */
  justify-content: space-around;
  align-items: center;
  /* display:k flex; */
}

.ImgRoll img{
  width: 90%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.full-img{
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.8) ;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: var(--green1);
  cursor: pointer;
  border: 2px solid var(--green1);
  padding: 0px 7px 0px 7px;
  background-color: white;
  border-radius: 10%;
  font-weight: bold;
}
.image-zoom{
  width: 80%;
  max-width: 90%;
}

.next-icon{
  position:absolute;
  top: 50%;
  right: 10%;
  width: 4%;
  border: 2px solid var(--green1);
  background-color: white;
  cursor: pointer;
}
.back-icon{
  position:absolute;
  top: 50%;
  left: 10%;
  width: 4%;
  border: 2px solid var(--green1);
  background-color: white;
  cursor: pointer;
}


/* CONTACT*/

.contact-icon{
  width: 50px;
  justify-content: left;
  object-fit:contain;
  padding-right: 10px;
  

}
.contact-card-div{
  display: flex;
  padding-bottom: 20px;
}

@media (max-width: 1020px){
  .navbar-right{
    display: none;
  }
  .menu {
    display:block;
    position: absolute;
    /* background-color: var(--white); */
  }
  .title{
    font-size: var(--vlg);
  }
}

@media (max-width: 640px){

  .logo{
    position: absolute;
    top: 46px;
    right: 0px;
    padding-left: 0px;
    width: 15%;
  }
  .title{
    font-size: var(--vlg);
  }
  .navbar-left{
    font-size: 10px;
    position: absolute;
    top: 30px;
    right: 50px;
    font-weight: bold;
  }

  .navbar-left ul li:nth-child(2){
    font-size: 20px;
  }
  .title-gray{
    font-size: var(--vlg);
    padding-top: 0px;
    width: 20px;
    
  }
  .navbar-right-mobile{
    background-color: rgba(0, 0, 0, 0.1) ;
    
  }
  
  .profile-container{
    display: block;
  }
  .Profile{
    width: 90%;
  }

  .paragraph-footer{
    text-align: center;
  }
  .paragraph-footer p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  
  .WhyUs{
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    /* gap: 50px; */
    place-content: center;
  }
  .card-container-services{
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    /* gap: 50px; */
    place-content: center;
  }
  .mapa{
    width: 330px;
    height: 300px;
    margin-bottom: 30px;
  }
  .paragraph2{
    margin: 0px 10px 0 10px;
  }
  .full-img{
    width: 100%;
  }
  .full-img img{
     width: 100%;
  }
  .profile-image{
    width: 80%;
  }
  .full-img .back-icon{
    width: 7%;
  }
  .full-img .next-icon{
    width: 7%;
  }
  .full-img span{
   
    top: 20%;
    right: 5%;
    font-size: 30px;

  }
  .image-zoom{
    height: 300px;
    object-fit: cover;
    

  }
  .email{
    font-size: 15px;
    width: 50%;
  }

  .footer{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .logo-footer{
    width: 50%;
    display: flex;
    align-self: center;
  }

}