:root {
  --white: #FFFFFF;
  --black: #000000;
  --green1: #8eaf44;
  --green2:#a4bb69;
  --gray1:#796f6e;
  --gray2:#918788;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --vlg: 30px
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
.container{
  width: 100%;
  /* height: 100%;   */
  /* overflow: hidden; */
  position: relative;
  margin: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px; 
 
}
.BackgroundImage{
  width: 100%; /*el 100% de su elemento padre o donde esté contenido*/
  /* height: 100%; */
}

.logo{
  width: 15%;
  position: absolute;
  top: 4%;
  left: 3%;
  padding: 10px
}


.navbar-left{
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  position:absolute;
  top: 0px;
  left: 17%;
  width: 60%;
  display: block;
  margin-right: 0px;
  padding-left: 0px;
}
.navbar-left a{
  text-decoration: none;
  
}
.navbar-left ul{
  width: 100%;
  padding-left: 10px;
  list-style: none;
}

.navbar-left ul li:nth-child(2){
  font-size: 50px;
}

.menu{
  display: none;
}
.navbar-right{
  font-size: 15px;
  color: var(--green2);
  position: absolute;
  top: 20px;
  left: 70%;
  display: flex;
  text-decoration: none;
  list-style: none;

}
.navbar-right ul{
  display: flex;
  margin-top: 40px;
  padding-left: 0px;
}
.navbar-right ul li{
  margin-left: 10px;
  list-style: none;
  display: flex;
}

.title{
  text-decoration: none;
  color: var(--white);
  padding-right: 5px;
  text-shadow: 1px 1px 2px black;
  
}
.title-black{
  color: var(--black);
  text-shadow: none;
  font-weight: bold;
}

.title-gray{
  color: var(--gray1);
  text-shadow: none;
  font-weight: bold;
}

.title2{
  background-color: var(--green1);
  font-size: 30px;
  color: var(--white);
  /* font-weight: bold; */
}



.bold{
  font-weight: bold;
}

.navbar-right-mobile{
  font-size: 25px;
  color: var(--green2);
  position: absolute;
  top: 9%;
  right: 6%;
  text-decoration: none;
  list-style: none;
  text-align: right;
  margin-right:10px ;
  text-shadow: 1px 1px 2px black;
}
.list{
  color: white;
  text-decoration: none;
}

.navbar-right-mobile ul li{
  margin-left: 10px;
  list-style: none;
}

.inactive{
  display: none;
}
.menuIcon{
  position: absolute;
  top: 50px;
  left: 90%;
  display: flex;
  text-decoration: none;
  list-style: none;
  /* background-color: white; */
}

/* ABOUT */

.container2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 200px;
}
.center-information{
  text-align: center;
}

.paragraph{
  text-align: justify;
}
.paragraph2{
  text-align: justify;
  margin: 0px 50px 0px 50px;
}

.profile-image{
  background-color: #e9e4e8;
  width: 430px;
  height: 100%;
  margin-top: 40px;
}

.WhyUs{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
}
.box{
  text-align: center;
  color: var(--yellow2);
  /* font-weight: bold; */
}
.box p{
  text-align: justify;
  margin: 0 10px 0 10px;
}

/* SERVICES */

.card-container-services{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
}

.card-service{
  padding: 10px 20px 10px 0;
  text-align: justify;
  /* border: 3px solid var(--gray2); */
  border-radius: 10px;
}

.card-service img{
  width: 100px;
  /* height: 50px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
}

.card-service p{
  background-color: var(--white);
}


/* PROJECTS  */

.card-container-projects{
  margin-left: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill,280px);
  gap: 50px;
  place-content: center;
}
.card-project{
  background-color: white;
}

.card-project img{
  width: 300px;
  height: 320px;
  object-fit: cover;
}

/* CONTACT*/


.contact-icon{
  width: 50px;
  justify-content: left;
  object-fit:contain;
  

}
.contact-card-div{
  display: flex;
}

@media (max-width: 1020px){
  .navbar-right{
    display: none;
  }
  .menu {
    display:block;
    position: absolute;
    /* background-color: var(--white); */
  }
  .title{
    font-size: var(--vlg);
  }
}